.demo_modal {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 12px;
}

.disciple_detail {
  background-color: #fff;
  padding: 30px;
  background-image: url("../../assets/modal_border.png");
  background-size: 104% 104%;
  background-position: center;
  border-radius: 20px;
}

.publish_disciple {
  background-color: #fff;
  padding: 30px;
  background-image: url("../../assets/modal_border.png");
  background-size: 104% 104%;
  background-position: center;
  border-radius: 20px;
}

.delete_disciple {
  background-color: #fff;
  padding: 30px;
  background-image: url("../../assets/modal_border.png");
  background-size: 104% 104%;
  background-position: center;
  border-radius: 20px;
}
