@import url("./styles/index.less");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HanChan";
  src: url("./assets/front/hanchan.otf");
  /* font-weight: normal;
  font-style: normal; */
}

* {
  margin: 0;
  padding: 0;
  transition: background-color, color, background 0.3s;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: #fff;
  font-family: "HanChan";
}

#root {
  width: 100%;
  height: 100%;
}
